.card{
        border: none;
        box-shadow: 5px 5px 20px rgb(215, 215, 215);
        border-radius: 5px;
        color: rgb(0, 0, 0);
        display: inline-block;
        width: 40%;
        height: auto;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        text-align: left;
        margin-left: 50px;
        margin-bottom: 30px;
        padding: 10px;
        padding-left: 50px;
        
}
.btn3{
   margin-bottom: 30px;
   border: none;
   background-color: white;
   color: #3662FB;
}
.btn3:hover{
    color: #91a9ff;
    cursor: pointer;
    text-decoration: underline;
}

      
      
