.flashCard1{
    background-color: #ffffff;
    border: none;
    box-shadow: 5px 5px 20px rgb(215, 215, 215);
    max-width: 700px;
    max-height: 600px;
    text-align: center;
    margin-left: 20px;
    display: inline-block;
}
.para1{
    text-align: left;
    padding-left: 30px;
}
.btn5{
    border: none;
    background-color: #ffffff;
    color: blue;
    font-size: 16px;
    margin-left: -70%;
    margin-bottom: 20px;
}
.btn5:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hrline1{
    width: 80%;
    border: 1px solid rgb(215, 215, 215);
}
.imgflush{
    width: 700px;
}